[${env_name}_master_node]
${master_node_name} ansible_host=${master_node_ip}

[${env_name}_worker_nodes]
%{ for worker_node in workers_nodes ~}
${worker_node.name} ansible_host=${worker_node.ip}
%{ endfor }

[${env_name}_k8s_cluster:children]
${env_name}_master_node
${env_name}_worker_nodes

[${env_name}_k8s_cluster:vars]
ansible_user=${username}
ansible_ssh_private_key_file=${private_key_file_path}