envs:
  local:
    user_data:
      username: <username>
      ssh_keys_dir_path: </path/to/generated/ssh/keys/dir/>
    
    volumes:
      pool_dir_path: /mnt/crypt_storage/LibvirtPools/
      base_name: <debian-13>
      base_url: <https://url>

    k8s_cluster:
      network_base_ip: <"192.168.123.">
      master_node:
        memory_in_mib: <2096>
        vcpu: <2>
      worker_nodes:
        count: <2>
        memory_in_mib: <2096>
        vcpu: <2>